.from-create {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgb(240, 239, 239);
  top:0;
  left:0;
  right:0;
}
